
body{
  background: url(../img/prepcoffee.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

  h1{
  text-align: center;
}

img {
  border-radius: 50%;
}

p{
  text-align: center;
}

.menu{
  text-align: center;
}

a{
  color: black;
}

form{
text-align: center;}

button {
  background-color: white;
  color: black;
  border: 5px solid #000000;
}
